section {
	margin-top: 40px;
	color: #5d5d5d;
	background: #f2f2f2;
	padding: 26px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.h1{
	color: blue;
	font-family: comic sans MS, cursive;
}